<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <form class="footer__form">
                <h2 class="footer__title title">CONTACT US</h2>
                <input class="footer__form-input" type="text" placeholder="NAME"></input>
                <input class="footer__form-input" type="email" placeholder="E-MAIL"></input>
                <button class="footer__btn" type="submit">SEND</button>
            </form>
            <a class="footer__logo logo" href="#"></a>
        </div>
        <h2 class="footer__social-title">
            INSTAGRAM
        </h2>
        <div class="footer__gallery">
            <img class="footer__gallery-item" src="images/staff/inst-1.jpg"></img>
            <img class="footer__gallery-item" src="images/staff/inst-2.jpg"></img>
            <img class="footer__gallery-item" src="images/staff/inst-3.jpg"></img>
            <img class="footer__gallery-item" src="images/staff/inst-4.jpg"></img>
        </div>
        <ul class="footer__menu-list">
            <li class="footer__menu-item">
                <a class="footer__menu-link" href="#">COPYRIGHT 2022</a>
            </li>
            <li class="footer__menu-item">
                <a class="footer__menu-link" href="#">ALL RIGHTS RESERVED</a>
            </li>
            <li class="footer__menu-item">
                <a class="footer__menu-link" href="#">COOKIE SETTINGS</a>
            </li>
            <li class="footer__menu-item">
                <a class="footer__menu-link" href="#">PRIVACY STATEMENTS</a>
            </li>
            <li class="footer__menu-item">
                <a class="footer__menu-link" href="#">CONTACT</a>
            </li>
        </ul>
    </div>
</footer>
<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script src="common.js"></script>
</body>

</html>