<section class="buy">
    <div class="container">
        <div class="buy__inner">
            <div class="buy__content">
                <h2 class="buy__title title">RAY AIR POCKET</h2>
                <ul class="buy__list">
                    <li class="buy__item">
                        <p class="buy__item-title">Click Fins</p>
                        <p class="buy__item-text">Comes with two 4.5’’ Click Fins – no tools required – fit and remove
                            in seconds
                        </p>
                    </li>
                    <li class="buy__item">
                        <p class="buy__item-title">REDUCED DECK PAD</p>
                        <p class="buy__item-text">Reduced area deck pad in standing area to aid packing</p>
                    </li>
                    <li class="buy__item">
                        <p class="buy__item-title">BACKPACK</p>
                        <p class="buy__item-text">Compact Pocket backpack with easy entry zipper for board, paddle, pump
                            and accessories (fits paddle and also regular
                            pump)</p>
                    </li>
                    <li class="buy__item">
                        <p class="buy__item-title">TOURING SHAPE</p>
                        <p class="buy__item-text">Tried and tested shape based on our popular Ray Air 11’6’’</p>
                    </li>
                    <li class="buy__item">
                        <p class="buy__item-title">EXTREMELY PORTABLE</p>
                        <p class="buy__item-text">Extremely portable, the ultimate travel companion</p>
                    </li>
                </ul>
                <div class="buy__price">590 €</div>
                <button class="buy__btn">buy</button>
            </div>
            <img class="buy__img" src="images/staff/buy.jpg" alt="image">
        </div>
    </div>
</section>