<header class="header">
    <div class="container">
        <div class="header__top">
            <a class="header__logo logo" href="#"></a>
            <button class="header__btn">
                Buy
            </button>
            <a href="tel:+17777777" class="header__phone">+1 777 77 77</a>
        </div>
        <div class="header__content">
            <div class="header__content-box">
                <h1 class="header__title">RAY AIR POCKET</h1>
                <p class="header__text">INFLATABLE SUP BOARD</p>
                <p class="header__text">SIZES: 11'6"X31"</p>
            </div>
            <p class="header__decor-text header__decor-text_one">DOM</p>
            <p class="header__decor-text header__decor-text_two">FREE</p>
            <p class="header__decor-text header__decor-text_three">PACK SMALL FOR BIG ADVENTURES</p>
        </div>
    </div>
</header>