<section class="info">
    <div class="container">
        <div class="info__top">
            <p class="info__top-text info__top-text_one">After our well received Fly Air Pocket Edition we’re adding the
                respective touring
                iSUP to our Range – the Ray Air Pocket Edition! The ultra travel-friendly touring iSUP is built in a
                tough but light construction that allows it to be packed into a backpack half the size of a regular
                iSUP.
                <button class="info__btn popup-btn">
                    <span>Play video</span>
                </button>
            </p>

            <p class="info__top-text info__top-text_two">With a thinner deck pad and tough but flexible construction,
                the Ray Air Pocket
                Edition can be rolled and packed into a much narrower bag, making it extremely easy to store and
                transport. Based on our highly versatile Ray Air 11’6’’, the efficient shape is packed with volume -
                offering safe, stable paddling and superb glide – which makes it the perfect iSUP for everyone paddling
                some distance. With its minimal weight and dimensions nothing comes close the convenient handling of our
                Pocket Edition iSUPs!</p>
            <img class="info__top-img" src="images/staff/sup.png" alt="image">
        </div>
        <div class="info__specs">
            <h3 class="info__specs-title title">SPECS</h3>
            <ul class="info__specs-list">
                <li class="info__specs-item">
                    <p class="info__specs-caption">BOARD</p>
                    <p class="info__specs-text">RAY AIR POCKET 11'6"X31"</p>
                </li>
                <li class="info__specs-item">
                    <p class="info__specs-caption">VOLUME</p>
                    <p class="info__specs-text">299 L</p>
                </li>
                <li class="info__specs-item">
                    <p class="info__specs-caption">WIDTH</p>
                    <p class="info__specs-text">31" / 78.7 CM</p>
                </li>
                <li class="info__specs-item">
                    <p class="info__specs-caption">LENGTH</p>
                    <p class="info__specs-text">11'6'' / 350.5 CM</p>
                </li>
                <li class="info__specs-item">
                    <p class="info__specs-caption">THICKNESS</p>
                    <p class="info__specs-text">6” / 15 CM</p>
                </li>
                <li class="info__specs-item">
                    <p class="info__specs-caption">WEIGHT</p>
                    <p class="info__specs-text">8.5 KG</p>
                </li>
                <li class="info__specs-item">
                    <p class="info__specs-caption">FITTINGS</p>
                    <p class="info__specs-text">2X FCS FIN SYSTEM / 2 X 4.5" CLICK FIN</p>
                </li>
                <li class="info__specs-item">
                    <p class="info__specs-caption">REC. USER WEIGHT</p>
                    <p class="info__specs-text">UP TO 100 KG</p>
                </li>
                <li class="info__specs-item">
                    <p class="info__specs-caption">MASTFOOT INSERT</p>
                    <p class="info__specs-text">NO</p>
                </li>
            </ul>
        </div>
    </div>
</section>