<section class="technology">
    <div class="technology__top">
        <div class="container">
            <div class="technology__top-inner">
                <div class="technology__btn popup-btn">
                    <span>Play video</span>
                </div>
                <div class="technology__top-box">
                    <h2 class="technology__title title">MICRO TECHNOLOGY</h2>
                    <ol class="technology__list">
                        <li class="technology__list-item">First PVC rail layer </li>
                        <li class="technology__list-item">Second PVC rail layer </li>
                        <li class="technology__list-item">Thin diamond grooving split-pad</li>
                        <li class="technology__list-item">Strong Tarpaulin layer </li>
                        <li class="technology__list-item">V-Drop Stitch core</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="technology__gallery gallery">
        <div class="container">
            <div class="gallery__inner">
                <div class="gallery__box">
                    <p class="gallery__text">Our new Micro technology provides a featherweight and quality construction
                        that can be rolled and packed into a backpack half the width of a standard iSUP package. The
                        reduced pad and our twin Click Fin system make it possible to have a regular sized iSUP packed
                        into minimal space.</p>
                    <div class="gallery__min">
                        <img class="gallery__min-img gallery__min-img_1" src="images/staff/gmin-1.jpg" alt="image">
                        <img class="gallery__min-img gallery__min-img_2" src="images/staff/gmin-2.jpg" alt="image">
                        <img class="gallery__min-img" src="images/staff/gmin-3.jpg" alt="image">
                    </div>
                </div>
                <div class="gallery__max">
                    <img class="gallery__max-img gallery__max-img_1" src="images/staff/gmax-1.jpg" alt="image">
                    <img class="gallery__max-img gallery__max-img_2" src="images/staff/gmax-2.jpg" alt="image">
                    <img class="gallery__max-img gallery__max-img_3" src="images/staff/gmax-3.jpg" alt="image">
                    <img class="gallery__max-img gallery__max-img_4" src="images/staff/gmax-4.jpg" alt="image">
                    <img class="gallery__max-img gallery__max-img_5" src="images/staff/gmax-5.jpg" alt="image">
                    <p class="gallery__max-text">ENJOY <br> YOUR LIFE</p>
                    <img class="gallery__max-img gallery__max-img_6" src="images/staff/gmax-6.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>