.footer {
	$self: &;
	padding: 100px 0 80px;
	background-color: $colorDark;
	color: $colorWhite;

	&__top {
		display: flex;
		justify-content: space-between;

		@include media ('<=md') {
			flex-direction: column;
			align-items: center;
		}
	}

	&__form {
		max-width: 500px;
	}

	&__title.title {
		margin-bottom: 28px;

		@include media ('<=xxs') {
			font-size: 34px;
			line-height: 38px;
		}
	}

	&__form-input {
		background-color: transparent;
		border: none;
		border-bottom: 1px solid rgba(255, 255, 255, .4);
		display: block;
		width: 100%;
		padding: 10px 0;
		margin-bottom: 57px;
		color: $colorWhite;

		&::placeholder {
			font-weight: 700;
			font-size: 18px;
			line-height: 22px;
			opacity: 0.2;
		}
	}

	&__btn {
		border: none;
		padding: 10px 66px;
		background-color: $colorWhite;
		margin-bottom: 100px;
		text-transform: uppercase;
		color: #000;
		font-family: 'Comfortaa', sans-serif;
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		cursor: pointer;
	}

	&__logo.logo {
		$self: &;
		display: block;
		background: url(images/icons-sprite.svg#icon-logo-view-white) left center / auto no-repeat transparent;
		width: 370px;
		height: 81px;

		@include media ('<=md') {
			order: -1;
			margin: 0 auto 50px;
		}

		@include media ('<=xxs') {
			width: 250px;
			height: 55px;
		}
	}

	&__social-title {
		font-weight: 700;
		margin-bottom: 28px;

		@include media ('<=md') {
			text-align: center;
		}
	}

	&__gallery {
		display: grid;
		gap: 52px;
		grid-template-columns: repeat(4, 1fr);
		margin-bottom: 50px;

		@include media ('<=md') {
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
		}
	}

	&__gallery-item {
		@include media ('<=xlg') {
			align-self: stretch;
			width: 100%;
		}
	}

	&__menu-list {
		font-weight: 700;
		display: flex;
		justify-content: space-between;

		@include media ('<=md') {
			display: block;
			text-align: center;
		}
	}

	&__menu-item {
		@include media ('<=md') {
			padding: 15px 0;
		}
	}

	&__menu-link {}

}